/*importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

/* General Reset */
body{
    height: 100%;
    background: #0A131F;
    margin: 0; /* Ensure no margin on body */
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
}

/* Sidebar Container */
.sidebar {
    width: 200px;
    height: 100vh;
    background: linear-gradient(to bottom, #1a2f4b 0%, #265a3f 50%, #70c172 100%);
    color: #fff;
    position: fixed;
    top: 0; /* Start at the top of the page */
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    z-index: 1000;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
    width: 80px;

}
/* Stroke Divider */
.stroke {
    height: 2px;
    width: 95%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    position: relative;
    margin-bottom: 10px; /* Spacing below the stroke */
    margin-left: 10px;
}

/* Sidebar Toggle Button */
.toggle-btn {
    width: 100%;
    text-align: center;
    padding: 15px 1px;
    cursor: pointer;
  
}
.toggle-icon{
    display: flex; /* Ensures items are aligned in a row */
    align-items: center; /* Vertically aligns items */
    justify-content: space-between; /* Positions icon on left and toggle button on right */
    width: 100%; /* Full width of the container */
    padding: 10px 20px; /* Padding for some spacing */

}

.toggle-btn ion-icon {
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    
}

/* Sidebar Icon */
.icon img {
    width: 140px; /* Consistent size */
    height: 50px;
    object-fit: contain;   
    cursor: pointer;
    margin-left: -10px;
    margin-right: 10px;
}

/* Sidebar Menu */
.menu {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height of the sidebar */
    justify-content: space-between; 
    flex: 1;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    width: 100%; /* Allow the container to expand as needed */
    display: flex;
    align-items: center; /* Center-align the content */
    gap: 12px; /* Increase spacing between the image and the text */
    padding: 10px; 
    transition: background 0.3s ease; 
}

.menu ul li:hover {
    background: #172e444b;
    border-radius: 20px;

}

.menu ul li img {
    border: none;
    padding: 5px 5px;
    margin: -2px;
    width: 27px;
    height: 27px;
    border-radius: 50%; /* Keep circular shape */
    background: rgba(31, 92, 68, 0.397);
    transition: background 0.3s ease;
}

.menu ul li:hover img {
    background: white; /* Change image background to white on hover */
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.75rem;
    flex: 1;
}
.menu .stroke {
    height: 2px;
    width: 95%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    position: relative;
    margin-left: 10px;
}

.logout-section {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Adds depth to the text */
}
/* Collapsed Menu Items */
.sidebar.collapsed {
    width: 50px; /* Reduced width when collapsed */
    border-radius: 10px;
}
.sidebar.collapsed .menu ul li a {
    display: none;
    
}

.sidebar.collapsed .menu ul li ion-icon {
    margin-right: 0;
}
.sidebar.collapsed .img-back {
    height: 80px; /* Reduced height */
}

.sidebar.collapsed .text-overlay {
    font-size: 0.8rem; /* Smaller text for collapsed sidebar */
}

.body-container {
    flex: 1;
    margin-left: 200px; /* Matches sidebar width */
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease-in-out;
    overflow: hidden;
}

.sidebar.collapsed ~ .body-container {
    margin-left: 80px; /* Adjusted margin for collapsed sidebar */
}


/* Header */
.header {
    position: fixed; /* Make the header fixed */
    top: 0;
    width: calc(100% - 200px); /* Adjust width to account for the sidebar */
    background: #0A131F; /* Solid background color */
    color: white;
    z-index: 999; /* Ensure the header is above other elements */
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-topbar{
    display: flex;
    justify-content: space-between; /* Push items to opposite ends */
    align-items: center;
    width: 100%;
}

/* Search Bar */
.search-container {
    position: relative;
    display: inline-block;
    width: 250px;
    
}
.search-bar {
    padding: 6px 12px 8px 35px;
    border-radius: 15px;
    font-size: 0.70rem;
    width: 250px;
    outline: none;
    transition: background 0.3s;
    background: linear-gradient(90deg, #1a2f4b3d 50%, #1b334d36 75.03%, #1b364e3d 100%);
    border: none; /* Remove any border from the search bar */
}
.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 0.75rem;
    color: #fff;
}
.search-bar:focus {
    outline: none; /* Ensure no outline on focus */
    background: rgba(31, 92, 68, 0.5);
}

/* Icons */
.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons img {
    border: none; /* Remove any border */
    padding: 6px;
    width: 25px;
    height: 25px;
    gap: 10px;
    border-radius: 50%; /* Circular shape */
    background: linear-gradient(90deg, #1a2f4b3d 50%, #1b334d49 75.03%, #1b364e6e 100%);
    transition: background 0.3s ease, transform 0.3s ease;
}

.icons img:hover {
    color: #9FBAD9;
    transform: scale(1.1);
}
/* Signup Button */
.signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px 7px;
    border: none;
    border-radius: 13px;
    background: #fff;
    color: #1A2F4B;
    font-size: 0.70rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.signup-btn:hover {
    background: linear-gradient(135deg, #70c172, #234737);
    transform: scale(1.05);
}

.arrow-icon {
    font-size: 1rem;
    transition: transform 0.2s ease;
    color: rgba(31, 92, 68, 0.397);
}

.signup-btn:hover .arrow-icon {
    transform: translateX(5px); /* Moves arrow slightly to the right on hover */
}
/* Welcome Message */
.header-topbar h1 {
    font-size: 20px;
    font-weight: 600;
}

.header-top h3 {
    margin: 0;
    font-size: 0.75rem;
    margin-bottom: -5px;
    font-weight: 300;
}
/* Header Title */
.header h1 {
    margin: 0;
    font-size: 1rem;
    flex: 1;
}
.highlight {
    color: #70c172; /* Green for 'Ultimate Sports Hub' */
}

/* Horizontal Line */
.header-line {
    margin-top: 10px;
    height: 1px;
    background: #ffffff1a;
}


/* Content Section */
.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensure layers fill the height */
    padding: 20px;
    gap: 10px;
    margin-top: 70px;
    height: calc(100vh - 150px);
    background: #0A131F;
}

/* Layers */
.layer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


/* Layers 1*/
.text-cont{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-cont h4 {
    font-size: 0.75rem;
    font-weight: 400;
}
.live-matches {
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffffff;
}

.more {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and text */
    color: #fff;
    cursor: pointer;
}

.more a{
  color: #fff;
  outline: none;
  text-decoration: none;
  font-size: 0.68rem;
  font-size: 400;

}

.more ion-icon {
    font-size: 0.75rem;
}

/* Live Match Demo */
.live-match-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #70c17123;
    color: white;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #fbc12d8c;

}
.game-leag {
    font-size: 0.50rem;
    font-weight: 400;
 
}
.live-match-event{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.vs-score {
    font-size: 0.85rem;
    font-weight: bold;
    color: #70c172;
    padding: 2px;

}
.teams-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4px;
    padding: 5px;
    margin-left: -10px;

}

.team {
    flex: 1;
    text-align: center;
    font-size: 0.60rem;
    word-break: keep-all;
    overflow: hidden;
    white-space: nowrap;
  
}

.team img{
    width: 35px;
    height: 35px;
    border-radius: 50%; /* Ensure the image is fully circular */
    object-fit: cover; /* Maintain the aspect ratio inside the circular shape */
    display: block; /* Prevent inline spacing issues */
    margin: 0 auto; /* Center the image horizontally */
    padding-bottom: 5px;
 }
.highlight-time {
    font-size: 10px;
    font-weight: 300;
    color: white;
}
.highlight-time img{
   width: 6px;
   height: 6px;
}

/* League Table Container */
.league-table-demo {
    background: linear-gradient(180deg, #1b364e 25%, #244537 75%);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    padding: 10px 10px;
    flex-direction: column;  
}

.leagueTable-text-cont {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -30px;
}

.leagueTable-text-cont h4 {
    font-size: 0.75rem;
    font-weight: 300;
}


/* League Title */
.league-title {
    font-size: 0.70rem;
    float: left;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.team-header {
  font-size: 0.7rem;
}

/* Table Header and Rows as Grid */
.table-header,
.team-row {
    display: grid;
    grid-template-columns: 5fr repeat(5, 1fr); /* Adjust column sizes */
    margin: 0;
    gap: 0;
    padding: 2px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
}


/* Team Info */
.team-info {
    display: flex;
    align-items: center;
    gap: 3px;
    overflow: hidden;
}

/* Team Logo */
.team-info img {
    width: 20px;
    height: auto;
    border-radius: 50px;
    object-fit: cover;
}
.table-header .team-name-header {
    font-weight: 400;
}
/* Team Name */
.team-info .team-name-header {
    font-size: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-weight: 400; 
}


/* Highlight Row on Hover */
.team-row:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

/* Stats Header and Team Stats (Aligned in Columns) */
.team-stats {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
}

/* Stats Header */
.table-header .stats-header {
    font-weight: 400;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.news-update{
    align-items: center;
    background: linear-gradient( #1a2f4b6c 50%, #1b364e8e 25%);
    border-radius: 10px;
    border: 0.5px;
    color: white;
    max-width: 800px;
    padding: 13px;
    
}
/* News Container */
.news-container {
    display: flex;
    overflow: hidden;
    align-items: center; 
    margin-top: -5px;
    
}
.news-image img {
    width: 90px; /* Adjusted width for a more reasonable size */
    height: 50px; /* Maintains aspect ratio */
    object-fit: cover;
    border-radius: 8px; /* Rounded corners only on the left */
    
}
/* News Info */
.news-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Headline */
.news-headline {
    font-size: 0.6rem; /* Adjust the font size */
    word-spacing: 1.5px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 1.5; /* Adjust the spacing between lines */
    overflow: hidden; /* Ensures text doesn't overflow its container */
    min-width: 100px;
    display: -webkit-box; /* Enables the multi-line truncation */
    -webkit-line-clamp: 3; /* Limits text to 3 lines */
    -webkit-box-orient: vertical; /* Ensures text is vertically oriented */
    text-overflow: ellipsis; /* Adds ellipsis at the end if text overflows */
    white-space: normal; /* Allows wrapping for multi-line text */
    margin-bottom: 5px;
}

/* Middle Layer */
.middle-layer {
    flex: 3; /* Wider than other layers */
    position: relative;
    width: 100%;
    height: 100%; /* Adjust based on your layout needs */
    overflow: hidden;
    display: flex;
    padding: 10px;
    margin-top: -10px;
}

.header-slider {
    overflow: visible; /* Ensure parent allows overflow */
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* Individual Slide Styling */
.slider-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    padding: 15px;
    transition: transform 0.5s ease;
    border-radius: 10px;
    position: relative;
    overflow: visible; /* Prevent image body from overflowing */
    min-height: 220px; /* Adjust as needed */
}

.slider-content:nth-child(1) img,
.slider-content:nth-child(2) img,
.slider-content:nth-child(3) img {
    position: absolute;
    top: 100%; /* Move image down */
    bottom: 0; /* Align bottom part inside div */
    right: 10px;
    width: 100%; /* Adjust size */
    max-width: 250px; /* Ensure it remains big and bold */
    height: auto;
    z-index: 10;
    transform: translateY(-100%);
    
}

/* Backgrounds and Colors for Each Slide */
.slider-content:nth-child(1) {
    background: linear-gradient(to right, #002f4b, #005f73);
}

.slider-content:nth-child(2) {
    background: linear-gradient(to right, #3f2b96, #a8c0ff);
}

.slider-content:nth-child(3) {
    background: linear-gradient(to right, #ff512f, #dd2476);
}

.slider-content:nth-child(4) {
    background: linear-gradient(to right, #141e30, #243b55);
}

.item-contnt {
    flex: 1;
    color: #fff;
    padding-top: 30px;
    z-index: 2;
}

.slider-title {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.slider-time,
.slider-date,
.slider-country {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 0.6rem;
}

/* Adjustments for Time, Date, and Country Rows */
.slider-time ion-icon,
.slider-date ion-icon,
.slider-country ion-icon {
    margin-right: 5px;
    color: #ffc107;
}

.sliderImage-container img {
    height: 120%
}
.advert .cont-img {
    height: 120%  
}

.slider-button {
    display: flex;
    align-items: center;
    background: #0A131F;
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 0.75rem;
    text-align: center;
    width: 110px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.slider-button ion-icon {
    margin-right: 5px;
}

.slider-button:hover {
    background: #ffdf00;
    transform: scale(1.05);
}





/* News Podcast Container */
.news-podcast {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding-top: 20px;
}


.top-stories {
    border-radius: 10px;
    flex: 1;
}


.news-short-highlight {
    display: flex; /* Align items in a row */
    gap: 2px; /* Adjust spacing between news items */
    padding: 8px;
    border-radius: 10px;
    background: linear-gradient(#1a2f4b6c 50%, #1b364e8e 25%);
   
}

.news-short-message {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center everything */
    text-align: center;
    padding: 5px;
    gap: 2px;
    flex: 1; /* Ensures equal width for all items */
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, background 0.2s ease;
  
}

.news-short-message:hover {
    background: #244537; /* Subtle hover effect */
    transform: scale(1.05); /* Slightly enlarges on hover */
}

/* Headline */
.shortNews-header {
    color: #fff;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    text-align: left;
}

/* Description */
.shortNews-description {
    color: #fff;
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 1.3;
    word-spacing: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    text-align: left;
}

/* Image */
.news-shortfeature-image img {
    width: 100%;
    height: 120px;
    object-fit: cover; /* Ensures proper scaling */
    border-radius: 5px; 
}


.podcast-updates {
    background: linear-gradient( #1a2f4b6c 50%, #1b364e8e 25%);
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    
}

.podcast-updates h5,
.podcast-updates h4{
    color: #fff;
    padding-top: 10px;
    font-size: 0.75rem;
}
.podcast-update-img img{
    width: 100%;
    height: 120px;
    object-fit: cover; /* Ensures proper scaling */
    border-radius: 5px; 
}



.shortTop-story {
    font-size: 0.75rem;
    color: #fff;
    font-weight: bold;
}

.latest-match {
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.match-latest {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient( #1a2f4b6c 50%, #1b364e8e 25%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.match-header {
    display: flex;
    justify-content: space-between; /* Positions the left and right groups apart */
    align-items: center;
    margin-bottom: 20px;
    gap: 10px; 
}

.match-header .category-btn {
    cursor: pointer;
    padding: 4px 12px;
    background-color: #14273f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.70rem;
    font-weight: 300;
    gap: 3px;
    margin-bottom: -15px;
}

.match-header .category-btn.calendar {
    margin-left: auto; /* Pushes the calendar button to the far right */
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
}

#match-date {
    display: block;
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
}

#match-date:hover {
    border: 1px solid #244537;
}

#match-date::-webkit-calendar-picker-indicator {
    color: #244537;
    cursor: pointer;
}
.category-btn.calendar:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.category-btn.active {
    background-color: #fff;
    color: #14273f;
    font-weight: bold;
    border-radius: 20px;
}

.calendar ion-icon {
    font-size: 1rem;
}
.matches-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#match-date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
}

#match-date:focus {
    opacity: 1;
}
.match-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2f4bad;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.match-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.match-info {
    display: flex;
    align-items: center;
    gap: 50px;
}
/* Team Names */
.Matchteam {
    font-size: 0.70rem;
    font-weight: normal;
    align-items: center;
    text-align: center;
    margin: 0 5px; /* Add space between "team1" and "vs team2" */
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.match-info h5 {
    font-weight: 300;
}


.view-details-btn {
    display: flex;
    align-items: center;
    background: #fff;
    color: #1A2F4B;
    text-decoration: none;
    padding: 3px 12px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 0.67rem;
   
}

.Matchteam img {
    width: 20px; /* Reduce the size of logos */
    height: 20px;
    object-fit: cover;
   
}

.match-time,
.match-country {
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 300;
    display: flex;
    gap: 2px;
}

.match-time img,
.match-country img{
    width: 13px; /* Reduce the size of logos */
    height: 13px;
    object-fit: cover;
}




/*third layers*/
.third-layer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%; /* Adjust as needed */
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    padding: 0;
    margin: 0;
     
}
/* Top Scorer Section */


.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 110px;
    background-color: #244537; 
    border-radius: 10px;
    border: 1px solid #ffc107a2;
}

/* Player Image */
.player-image img {
    height: 80px;
    width: 80px; /* Adjust size as needed */
    object-fit: cover; /* Ensures the image maintains aspect ratio */
    border-radius: 50%; /* Makes the image circular */
    margin-left: -20px;
}

/* Player Item */
.player-item {
    position: absolute;
    display: flex;  
    align-items: center;
    gap: 8px;
    width: 100%;
    background: linear-gradient(to bottom, #244537 40%, #1b364e 80%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}
.player-item.active {
    opacity: 1;
    visibility: visible;
}

/* Player Data */
.players-data {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between player details */
}

.player-name {
    font-size: 0.70rem;
    font-weight: bold;
    color: #fff;
}
.goals,
.team-name,
.leagues {
    font-size: 0.55rem;
    color: #ffffff; /* White text for other details */
    font-weight: 300;
    margin-right: 10px;
}
.player-item.player-1 .player-image {
    animation: slideInLeft 1s forwards;
}

.player-item.player-1 .players-data {
    animation: slideInRight 1s forwards;
}

.player-item.player-2 .player-image {
    animation: slideInTop 1s forwards;
}

.player-item.player-2 .players-data {
    animation: slideInRight 1s forwards;
}

.player-item.player-3 .player-image {
    animation: slideInRight 1s forwards;
}

.player-item.player-3 .players-data {
    animation: slideInBottom 1s forwards;
}

/* Keyframes for animations */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.advertisement img {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

/*prdition styling*/

.predition-container {
    display: flex;
    align-items: center; /* Vertically centers content */
    background: #fff; /* Semi-transparent background */
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 10px; 
}

.predition-content h4{
    font-size: 0.70rem;
    margin-bottom: 15px;
}
.predit-selection {
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.team-nam {
    font-size: 0.70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    white-space: nowrap; /* Prevent line breaks */
    
}
.Select-team {
    font-size: 0.70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    gap: 5px;
    white-space: nowrap; /* Prevent line breaks */
    text-align: center;
}
/* Team Logo */
.team-logo img {
    width: 45px; /* Logo width */
    height: 45px; /* Logo height */
    object-fit: contain; /* Maintain aspect ratio */
    border-radius: 50%; /* Circular logo */  
    margin-left: -5px;
    margin-top: -5px;
}

/* Score Input */
.score-input {
    padding: 3px 3px;
    border: 1px solid #ffc1077c;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    outline: none;
    width: 60px; /* Adjust as needed */
    gap: 10px;
    margin-left: 10px;
}

.score-input::placeholder {
    font-size: 12px; /* Adjust to preferred size */
    color: #888; /* Optional: Change color for better visibility */
    opacity: 1; /* Ensure full visibility */
}

.score-input:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.8);
}


.advertise {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}







/*------------------------------News css------------------------------------ */

/*top stories */
.top-story {
    flex: 1; /* Make both child containers take up equal width */
    display: flex; /* Maintain flexibility for internal layout */
    flex-direction: column; /* Ensure content inside stacks properly */
    padding: 8px; /* Optional: Add padding for better spacing */
    border-radius: 10px; /* Optional: Rounded corners for a neat look */
    background: #1a2f4b6c;
    margin-bottom: 20px;
}

.news-infomat {
    display: flex;
    flex-direction: row; /* Keep the direction row-based */
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: flex-start; /* Ensures top alignment of wrapped rows */
    gap: 10px; /* Space between items */
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}

.news-container {
    color: inherit;
    text-decoration: none;

}

.news-container:hover {
    transform: scale(1.05); /* Slightly enlarges on hover */
}


.news-messages h2{
    font-size: 0.65rem;
    margin-bottom: 7px;
    word-spacing: 1.2px;  
    font-weight: 500;
}



.feature-img img {
    width: 80px;
    height: 55px;
    object-fit: cover; /* Ensures proper scaling */
    border-radius: 8px;
}
.news-headers {
    font-size: 0.80rem;
    font-weight: bold;
    color: #ffffff;
}

.news-text-cont {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.news-text-cont h4 {
    font-size: 0.75rem;
    font-weight: 400;
}

.see-more {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 0.70rem;   
 
    font-weight: bold;
}

.see-more ion-icon {
    font-size: 0.75rem;
}
#news-details-view p {
    color: #fff;
    font-size: 0.60rem;
}

#news-details-view ion-icon {
    color: #fff;
    font-size: 0.40rem;
}


/* Style for the news meta information */
.news-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.news-meta .news-description {
    flex: 4;
    font-size: 0.60rem;
    line-height: 1.3;
    font-weight: normal;
    color: #ffffff5e;
    margin: 0;
    color: #ccccccad;
    word-wrap: break-word;
    
}

.news-time {
    flex: 1;
    text-align: right;
    font-size: 0.5rem;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 10px;
    white-space: nowrap;
}

/* News Header */
#news-detail-content h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: Lato;
    color: #fff;
    margin-bottom: 10px;
}

/* News Date */
#news-detail-content p small {
    font-size: 10px;
    color: #fff;
    text-align: right;
    font-style: italic;
    display: block;
    margin-bottom: 5px;
}

/* News Description */
#news-detail-content p {
    font-size: 16px;
    line-height: 22.4px;
    color: #f4f6f6;
    font-weight: 500;
    font: 'Lato';
}

#news-detail-content img {
    max-width: 852px;
    max-height: 480px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}


#back-button {
    cursor: pointer;
    display: inline-flex;  /* Ensures the button is inline-flex for aligning the text and icon */
    align-items: center;   /* Aligns icon and text vertically */
    border: none;          /* Remove border */
    background: none;      /* Remove background color */
    color: #333;           /* Adjust text color */
    font-size: 16px;
}

#back-button .search-icon {
    margin-right: 8px; /* Space between arrow and text */
}

#back-button:hover {
    color: #70c172; /* Optional: Change text color on hover */
}

#news-detail-content {
    color: #fff;
}

#news-detail-content h2 {
    font-size: 1.2rem;
}

#news-detail-content p {
    font-size: 0.75rem;
}

.live-games {
    background-color: #14273f;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    
}

.live-matches-demo {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 8px;
    width: 100%;
    position: relative;
  
}

.team-times {
    display: flex;
    padding: 20px;
    width: 180px;
    background: linear-gradient(to bottom, #1a2f4b 0%, #265a3f 50%, #70c172 100%);
    border-radius: 15px;

}

/*-- newsAd-middle styling */

.newsAd-middle {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;

}

.newsAd-container {
    border-radius: 10px;
    flex: 1;

}

.vs-scores {
    font-size: 0.70rem;
    font-weight: bold;
    color: #70c172;
    

}

.teams-nameLogo {
    flex: 2;
    text-align: center;
    font-size: 0.55rem;
    font-weight: bold;
    word-break: keep-all;
    overflow: hidden;
    white-space: nowrap;

}

.teams-nameLogo img {
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Ensure the image is fully circular */
    object-fit: cover; /* Maintain the aspect ratio inside the circular shape */
    display: block; /* Prevent inline spacing issues */
    margin: 0 auto; /* Center the image horizontally */
    padding-bottom: 5px;

}

.podcast-comingSoon {
    background: linear-gradient( #1a2f4b6c 50%, #1b364e8e 25%);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 12px;
    flex: 1;
    color: #fff;
    font-size: 0.70rem;  
}

.podcast-comingSoon h4 {
    margin-left: -10px;
    margin-bottom: 15px;
}
.podcastComingSoon-img img{
    width: 85%;
    height: 120px;
    object-fit: cover; /* Ensures proper scaling */
    border-radius: 5px; 
}



/*.............................podcast............................................ */

.podcast-container1 {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
}


.podcast-container1 h2{
    color: #fff;
    margin-top: 20px;
}
.podcast-imag img{
    width: 100%;
    height: 120px;
    object-fit: cover; /* Ensures proper scaling */
    border-radius: 5px; 
}











/*---------------------league names page css ---------------------------*/

.leagues-country {
    width: 100%;
    margin-top: -40px;
    margin-bottom: 20px;

}
.leagueNames {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    padding-top: 15px;
  
  }

  .league-info h3 {
    font-size: 0.80rem;
  }
  
  .league-info p {
    font-size: 0.60rem;
    font-weight: 300;
  }


  .table-headers,
  .team-rows {
    display: grid;
    grid-template-columns: 2fr 3fr repeat(5, 1fr);
    gap: 0px;
    align-items: center;
  }
  
.table-headers {
    font-weight: bold;
    color: #fff;
    
}

/* Row styles */
.team-rows {
    background-color: #1A2F4B; /* Background color for rows */
    color: #fff;
    border-radius: 10px;
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 8px 10px;

}
/* Image and text alignment */
.team-info {
    display: flex;
    align-items: center; /* Align text and image */
    gap: 8px; /* Space between image and text */
}

.team-info img {
    width: 20px; /* Adjust logo size */
    height: 20px;
}

/* Stats alignment */
.stat-header, 
.team-stat {
  text-align: right; /* Align to the extreme right */
  font-size: 0.9rem; /* Consistent font size */
  white-space: nowrap;
}
  .team-rows img {
    width: 18px;
    height: 18px;
  }

  .stat-header {
    gap: 16px;
    padding-right: 5px;
    font-size: 12px;
    font: Lato;
    color: #dce5e3af; /* Slight padding for header alignment */
  }
  
   .team-stat {
    color: #fff;
    font-size: 0.7rem;
    padding-right: 5px;
  }

  .arrow-direct {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and text */
    color: #fff;
    font-size: 0.75rem;
    cursor: pointer;
  }

  .arrow-direct img{
    font-size: 0.60rem;
}
 
.league-table {
    width: 100%;
    border-radius: 20px;
    padding-top: 10px;
}
.league-tables-details {
    background: linear-gradient( #1a2f4b6c 50%, #1b364e8e 25%);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px; 
}

.league-headers {
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
 
}

.league-headers img {
   width: 20px;
   height: 20px;
   object-fit: contain;
   }


.league-headers .league-details h3 {
    font-size: 0.85rem;
    font-weight: bold;
   
  }

  .league-headers .league-details p {
   font-size: 0.60rem;
   font-weight: 300;
   margin-top: 2px;
  
 }
.league-details {
    margin-left: 8px;
}

.leag-count {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.leag-count img {
    width: 20px;
    height: 20px;
   object-fit: contain;
}

.position-header,
.team-position {
    font-size: 0.7rem;
    font-weight: 300;
    padding: 5px;
}


.advertisement img {
    padding: 15px;
}







/*..................................................line match page........................*/

.matches-header {
    display: flex;
    justify-content: space-between; /* Positions the left and right groups apart */
    align-items: center;
    margin-bottom: 20px;
    gap: 8px;
  }
  .match-category-btn {
    color: #fff;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: #1f3750d2;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.70rem;
    font-weight: 300;
    gap: 5px;
} 


.match-category-btn.calendar {
    margin-left: auto; /* Pushes the calendar button to the far right */
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
}


.matches {
    width: 100%;

}

.matches-header-cont {
    background-color: #1b364ea2;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    border-radius: 10px;
}
.matches-live-ongoing {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: -20px;

}

.leagues-matches {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    padding: 10px;
    
}

.league-header {
    display: flex;
    align-items: center; /* Align text and image vertically */
    gap: 10px; /* Add spacing between the image and text */
    color: white; /* Set text color to white */
    font-size: 0.75rem; /* Adjust font size for the header */
    margin-bottom: 8px; 
  }

  .league-header img.league-logo {
    width: 30px; /* Adjust the logo size */
    height: 30px;
    object-fit: contain; /* Ensure the logo maintains its aspect ratio */
    border-radius: 50%; /* Optional: Make the logo circular */
  }

.leag-country {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.leag-country img {
    width: 20px;
    height: 20px;
   object-fit: contain;
}


.matches-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #1f3750;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;


  }
  
  .matches-time {
    font-weight: 400;
    font-size: 0.70rem;
    margin-bottom: 8px;

  }
  
  .matches-teams {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }


  .matches-team {
    display: flex;
    align-items: center; /* Ensures logo and name are horizontally aligned */
    gap: 8px;
    font-size: 0.65rem;
  }

 .matches-team img {
    width: 17px; /* Reduce the size of logos */
    height: 17px;
    border-radius: 50%;
    object-fit: cover; /* Ensure logos maintain their aspect ratio */
 }
 .matches-team span {
    font-size: 0.7rem;
  }


  .score {
    font-size: 0.70rem;
    color: #fff;
  }

  .matches-datas {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    
  }


  .live-match {
    text-align: center;
    color: white;
    width: 100%;
    background: #1b364ea2;
    padding: 10px;
  }
  
  .back-btn {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .back-btn:hover {
    background-color: #e03e00;
  }

  .matches-team {
    flex: 1;
    text-align: center;
    font-size: 0.70rem;
    word-break: keep-all;
    overflow: hidden;
    white-space: nowrap;

  }

  .live-match-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 65px;
    padding-right: 65px;

  }

  .live-match-team span {
    font-size: 0.70rem;
    margin-top: 2px;
  }

  .match-time-scores span {
    font-size: 0.7rem;
  }

  .live-match-team img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
 .live-match-datas {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 15px;
     background-color: #1a2f4be0;
     padding: 10px;
     border-radius: 10px;
     margin-top: 10px;
 }

 .match-time-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  
 .scores {
    font-size: 1rem;
    font-weight: bold;
    padding: 2px;

}

.live-match-time {
    font-size: 0.60rem;
    color: lightgray;
  }
  

.live-match-scores {
    display: flex;
    flex-direction: column;
}

.league-name {
    font-size: 0.65rem;
    font-weight: 200;
 
  }
  
  .live-match-info {
    margin-top: 15px;
    background: #1a2f4be0;
    padding: 5px;
    border-radius: 10px;
    color: white;
    
  }
  
  .match-tabs {
    display: flex;
    padding: 8px;
    align-items: center;
    margin-bottom: 20px;
    gap: 8px;

  }
  
  .tab-btn {
    color: #fff;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: #1f3750;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.70rem;
    font-weight: 400;
    gap: 5px;
    border: none;

  }
  
  .tab-btn.active {
    background: #fff;
    color: #0A131F;
    font-weight: 500;
  }
  
  #tab-content {
    display: block;  /* Ensure it's visible */
    min-height: 100px; /* Prevent collapsing */
    padding: 10px;
    border-radius: 5px;
}

  .tab-content.active {
    display: block;
  }
  
.ad5-logo {
    width: 97%;
    height: 70px;
    margin-top: -10px;
    
}

  /* info styling */

.info-match-container {
    margin-bottom: -10px;
    padding: 0;
    margin: 0;
}
  /* Container to hold both left and right sections */
.info-match-details {
    display: flex;
    justify-content: space-between; /* Push left and right apart */
    align-items: flex-start;
    gap: 20px;
}

/* Left Section: Teams, Date, and Time */
.info-left {
    flex: 1; /* Take equal space */
    text-align: left;
    font-size: 0.75rem;
    font-weight: 300;
}

.info-teamNames {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 0.80rem;
    font-weight: 300;
    margin-bottom: 10px;
}

/* Right Section: GBR, Stadium, and Country */
.info-right {
    flex: 1;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 300;
    margin-right: 70px;
    margin-top: 25px;
    
}

/* Ensure match title is centered */
.info-match-container h3 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 0.70rem;
    font-weight: 300;
}

.info-colorIcon {
    width: 12px;  /* Adjust size as needed */
    height: 12px;
    vertical-align: middle; /* Ensures proper alignment with text */
    margin-right: 3px; /* Adds spacing between icon and text */
}





/* line-ups team and formaation header styling */

.lineUpsteams-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.lineUpsteam-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.lineUpsteam-logo {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.team-formation h4{
    font-size: 0.75rem;
    font-weight: bold;
}

.team-formation h5{
    font-size: 0.70rem;
    font-weight: 200;
    margin-left: -12px;
    margin-top: 2px;
}

.team-formation h3{
    font-size: 0.70rem;
    font-weight: 200;
    margin-left: -12px;
    margin-top: 2px;
    text-align: right;
}

  

/* Main field styling */


/* ⚽ Horizontal Football Field */
.field {
    position: relative;
    width: 34vw;
    max-width: 754.86px;
    height: 280px;
    background-color: green;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* ➖ Center Line */
.center-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: white;
    top: 0;
    left: 50%;
}

/* 🔴 Center Circle */
.center-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 🥅 Goalposts */
.goalpost {
    position: absolute;
    width: 35px;
    height: 90px;
    border: 2px solid white;
    top: 50%;
    transform: translateY(-50%);
}

.home-goalpost {
    left: 0;
    
}

.away-goalpost {
    right: 0;

}

/* 🟦 Penalty Boxes */
.penalty-box {
    position: absolute;
    width: 65px;
    height: 150px;
    border: 2px solid white;
}

.home-box {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.away-box {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* 🏹 Penalty Arc (D-Shaped Curve) */
.penalty-arc {
    position: absolute;
    width: 60px;  /* Adjust width for realistic proportion */
    height: 30px;  /* Controls the curvature */
    border: 2px solid white;
    border-radius: 60px 60px 0 0;  /* Creates the top half of a circle */
    border-bottom: none;  /* Hide bottom half */
}

/* Position Home Penalty Arc */
.home-arc {
    left: 36px; /* Align with the penalty box */
    top: calc(50% - 10px); 
    transform: rotate(90deg);
}

/* Position Away Penalty Arc */
.away-arc {
    right: 35px;  /* Center with penalty box */
    top: calc(50% - 10px);  /* Move below penalty box */
    transform: rotate(270deg);  /* Keep normal direction */
}


/* 📍 Formation Areas */
.formation-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 👤 Players */
.player {
    position: absolute;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 11px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* 👤 Home Players (Black Background, White Text) */
.home-player {
    background-color: #0A131F;
    color: white;
}

/* ⚪ Away Players (White Background, Black Text) */
.away-player {
    background-color: #fff;
    color: #0A131F;
}

/* 🟡 Goalkeeper */
.home-goalkeeper {
    background-color: #0A131F;
    color: #fff;
}

.away-goalkeeper {
    background-color: white;
    color: #0A131F;
}


/* 🟡 players names styling */

.lineUp-cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}



/* Ensuring both team containers take full width */
.lineup-home-players, .lineup-away-players {
    flex: 1; /* Make both take equal space */
    margin-top: 20px;
    border-radius: 8px;
}

.lineup-players-names h5 {
    text-align: left;
    padding-top: 20px;
    font-size: 0.75rem;
    font-weight: 300;
}

.lineup-home-players h4, .lineup-away-players h4 {
    text-align: center;
    color: #fbc02d;
    margin-bottom: 10px;
    font-size: 0.75rem;
    font-weight: 400;
}

.lineup-home-players ul, .lineup-away-players ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.lineup-home-players li, .lineup-away-players li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 8px;
    background-color: #1f3750;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

/* Ensure proper spacing for number, name, and position */
.listed-player-number {
    flex: 0 0 40px; 
    text-align: center;
    font-size: 0.70rem;
    font-weight: 300;
    margin-left: -10px;
}

.listed-player-name{
    flex: 1;
    text-align: left;
    font-weight: 300;
    font-size: 0.70rem;
    color: white;
    
}



/* h2h styling section */

.h2h-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 0.75rem;
}


/* Horizontal Line */
.h2h-header-line {
    margin-top: 10px;
    height: 1px;
    background: #ffffff33;
}


.h2h-league {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* 🏆 League Name */
.league-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 2px;
    
}

/* 🌍 League Country Styling */
.league-country {
    font-size: 0.70rem;
    color: white;
    font-weight: 300;
    margin-top: -2px;
}


.h2h-container {
    background: #1A2F4B;
}

/* 🏅 H2H Match Container */
.h2h-match {
    background: #1A2F4B;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.h2h-team-data {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 8px;
}

/* 🔄 Match Content: Left (Time & FT) & Right (Teams & Scores) */
.h2h-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 0.60rem;
    font-weight: 300;
    color: white;
    padding-left: 10px;
}

/* 🏟️ Right Column: Teams & Scores */
.h2h-right {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

/* 🎽 Team Info */
.h2h-team {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 🏅 Team Logos */
.h2h-logo {
    width: 17px;
    height: 17px;
    object-fit: cover;
}

/* 🏷️ Team Names */
.h2h-team-name {
    font-size: 0.70rem;
    color: white;
    font-weight: 300;
}

/* ⚽ Scores */
.h2h-matches-scores {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
}


  










/*.....................................predition page css............................*/


.predictions-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
}
.match-preditions {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #1A2F4B;
    color: #fff;
    gap: 10px;
    margin-bottom: 10px
}
.match-league-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.predit-league-logo {
    width: 18px;
    height: 18px;
}
.match-teams-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  
}
.predit-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    background-color: #0A131F;
    box-shadow: #003366;
    padding: 10px;
    border-radius: 10px;
}

.match-teams-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    
}

.team-predit {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.team-predit img{
    width: 18px;
    height: 18px;
    object-fit: cover;
}
.predit-match-details {
    display: flex;
    align-items: center;
    gap: 10px;
}


.team-predit span {
   font-size: 0.75rem;
}

.score-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-size: 0.7rem;
    margin-left: auto;
}


.prediction-info {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.prediction-info div {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    padding: 0 8px;
    background: white;
    color: #0A131F;
    cursor: pointer;
    text-align: center; 
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-left: auto;
    font-size: 0.7rem;
}

.submit-button img {
    padding-top: -2px;
}
.team-win-name {
    font-size: 0.75rem;
}

.error-message {
    color: red;
    display: none;
}

.scores-input input {
    text-align: center; /* Centers input text */
    font-size: 20px; 
    font-weight: 500;
    font-size: 1rem;
    width: 55px; /* Adjust width */
    height: 25px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
}


.score-stroke {
    margin-top: 10px;
    height: 1px;
    background: #fff;
 
}

/* Center align placeholder */
.scores-input input::placeholder {
    text-align: center;
    font-size: 15px;
    color: #999;
}

.date-times {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 300;
}

.predit-amount {
    color: #70c172;
}
.confirmation-popup {
    display: none;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    border-radius: 10px;
}



.confirmation-header {
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    font-size: 0.65rem;
}

.cancel-btn {
    color: #0A131F;
    background: #fff;
}

.cross-icon {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: none;
}

.predit-league-info {
    font-size: 14px;
    font-weight: bold;
    font-size: 0.75rem;

}

.predit-match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.predit-teams-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.team-prediting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-prediting-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.team-prediting-name {
    font-size: 14px;
    font-weight: bold;
    font-weight: 500;
}

.vs-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.vs {
    color: #70c172;
}
.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.score-selected {
    font-size: 18px;
    font-weight: bold;
}


.confirmation-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
    padding: 15px;
    font-size: 18px;
    font-weight: bold; 
    color: #70c172;
}

.confirmation-buttons button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #0A131F;
    border-radius: 20px;
    font-size: 0.7rem;
}

.submit-btn {
    background: green;
}


/* Submit button with icon */
.submit-btn {
    display: flex;
    align-items: center; /* Keeps the icon and text aligned */
    justify-content: center;
    gap: 8px; /* Space between text and icon */
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

/* Arrow icon styling */
.submit-btn img {
    width: 16px;
    height: auto;
}

/* Success popup styling */
.success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1A2F4B;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000; /* Above the blur */
}

.success-popup img {
    width: 50px;
    margin-bottom: 10px;
    margin: 10px;
}


.success-popup button {
    background-color: #28a745;
    color: white;
    border: none;
    margin: 10px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;

}

.success-content {
    background-color: #fff;
    border-radius: 10px;
    
}



/* Add blur effect when a popup appears */
.blurred::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensures it covers everything */
}
