*{
    padding: 0;
    margin: 0;
}
.logo{
    flex: 1; /* Make the logo take equal width */
    max-width: 100vh; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure image scales properly */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.icon-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icon-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.reg-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background: #1A2F4B;
    margin: 0;
    padding: 0
   
}

.reg-logo img {
    height: auto;
}
.form-container {
    flex: 1;
    background: #1A2F4B;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-top: 80px;
}
.form-inputContainer{
    background-color: #1A2F4B;
    border: 1px solid #9FBAD9; 
    border-radius: 50px;
    width: 45%;
    height: auto;
    margin-top: 50px;
    flex: 1;
    margin-left: 30%;
    margin-bottom: 10px;
    padding: 0% 7px;
}
.name-field{
    display: flex;
    padding: 2px 18px;
    gap: 25px;  
    margin-left: -7px;
}
.form-details{
    left: 50%;
}
.form-details h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
}
.form-details p {
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
}
.form-container h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}

.form-inputContainer h5 {
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
    margin-top: 50px;
    font-family: Creato Display;
}

.form-inputContainer label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    color: #fff;
    text-align: left;
    margin-left: 5px;
}
.input-field {
    display: flex;
    flex-direction: column; /* Ensures the label and input are stacked */
    align-items: flex-start; /* Aligns the label to the left within the field */
    margin-bottom: 15px; /* Adds space between fields */
    width: 100%; /* Ensures the input spans properly within the container */
}
.input-field input {
    width: 80%; /* Full width of form card */
    padding: 8px 15px;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    background: #40576e;
    border: 1px solid #1A2F4B;
    border-radius: 15px;

}
.form-inputContainer button {
    width: 85%;
    padding: 5px 20px;
    margin-top: 10px;
    background: #fff;
    color: #1A2F4B;
    border: 1px solid #9FBAD9;
    border-radius: 50px;
    font-size: 0.75rem;
    cursor: pointer;   
}
.bottom-link{
    color: #fff;
    padding: 20px 5px;
    font-size: 0.75rem;
}

a{
    color: #fff;
    padding: 20px 0px;
}
.form-input button:hover {
    background-color: #0056b3;
}
.icons a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #9FBAD9;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
}
.icons ion-icon{
    color: #70C172;
    font-size: 25px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    align-items: center;
    justify-content: center;
}
.icons ion-icon:hover{
    color: #ff7200;
}

